node_modules/
dist/
out/
.next/
.env
.env.local
.env.*.local
*.log
.DS_Store
.expo/
firebase-debug.log
firestore-debug.log
service-account*.json
client_secret*
*-key.json
.firebase/
.fuse_hidden*
policy.yaml
